In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('Titanic.csv')

In [40]:
def clean_data(data, attributes = None):
    cleaned_data = data.drop_duplicates()
    if not attributes is None:
        cleaned_data= data[attributes]
    return cleaned_data

In [41]:
select = ["Age",
          "No of Siblings or Spouses on Board",
          "No of Parents or Children on Board",
          "Passenger Class",
          "Passenger Fare",
          "Port of Embarkation",
          "Sex",
          "Survived"]
cleaned_data = clean_data(data, select)